#inicio, footer  {
    background-color: black;
}
nav div ul li a {
    color: white;
}
.navbar-brand {
    color: white;
}
nav div ul li a:hover {
    background-color: white;
    color: black;
    transition-duration: 1s;
}
.navbar-brand:hover {
    color: white;
}

div pre code {
    color: white;
}
div div div.alert {
    background-color: black;
    color: #ABEBC6;
}
nav div li div.dropdown-menu a:hover {
    color: blue;
    font-weight: bold;
    transition: 1s;
}
